Projekt5/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    CAR*,
    PERSON*,
    ADDRESS*,
    CAR_PERSON*)>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    YOP CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT ADDRESS EMPTY>
<!ATTLIST ADDRESS
    ID CDATA #REQUIRED
    CITY CDATA #IMPLIED
    STREET CDATA #IMPLIED
    NUMBER CDATA #IMPLIED
    POSTAL_CODE CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    ADDRESS_ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    AGE CDATA #IMPLIED
    PESEL CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT CAR_PERSON EMPTY>
<!ATTLIST CAR_PERSON
    CARS_ID CDATA #REQUIRED
    PERSONS_ID CDATA #REQUIRED
>

